@model Sistema_de_Informes_de_Analisis_Financieros.Models.Valoresdebalance

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro que desea eliminar?</h3>
<div>
    <h4>Valores de Balance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valorcuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valorcuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id.Codcuentacatalogo)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idbalance" />
        <input type="submit" value="Eliminar" class="btn btn-dark" /> |
        <a asp-action="Index" class="btn btn-dark">Volver</a>
    </form>
</div>
